<style>
.Main_Bpdy{
    padding-top:40px ;
    justify-content: center;
    margin: auto;
    align-items: space-evenly;  
    margin-left: 70px;
}
.image{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.imageWidth, .paraWidth{
    width:50%;
}
.paraWidth{
    text-align: center;
    margin: auto;
    margin-left: 20px;
}
</style>

<div id = "Main_Body" style="margin-left: 70px;margin-right:70px;display: flex;">
    <div class="imageWidth">
       <img src="\assets\images\Car-in-SEVC.jpg" class ="image" alt="Solecthon" width="100%" height="100%"></div> 
       <div class = "paraWidth">
       <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ea incidunt, harum minus quas assumenda veniam modi eius? Nulla sed qui harum doloremque repudiandae aliquid officia perspiciatis doloribus quam ipsam!
       This is some content</p> </div>
</div>