<!-- card of a team member profile -->
!<!DOCTYPE html>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
  </mat-card-header>
  <div class="row">
    <div *ngFor="let member of members" class="col-md-3">
      <div class="mat-cardstyle">
        <mat-card-title>{{member.name}}</mat-card-title>
        <mat-card-subtitle>{{member.role}}</mat-card-subtitle>
        <img mat-card-image src="{{member.image}}" alt="Photo of {{member.name}}">
        <mat-card-content>
          <p>
            {{member.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </div>
    </div>
