
.mat-cardstyle{
    margin: 10px;
    padding: 10px; 
    border: 1px solid rgb(90, 78, 78);
    border-radius: 15px;
    height: auto; 
    align-items: center;
    box-shadow: 0 0 5px rgb(95, 80, 80);
}

.mat-card-image{
    width: 50%;
    margin: auto;
    justify-content: space-evenly;
    text-align: center;
    margin:auto;
    align-items: center;
    height: 50%;
    border-radius: 15px;
}
.social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:21px;
}

.mat-card-actions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.mat-card-title, .mat-card-actions, .mat-card-subtitle, .mat-card-content{
    text-align: center;
}