* {
    margin: 0px;
    padding: 0px;
}
html{
    background-color: green;
}
.Logo{
    height: 20px;
}
.wid50 {
    background: #ffff95;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    padding-top: 120px;
}

.buttonClass {
    border-radius: 10px;
    background: none;
    width: 100px;
    margin-left: 5px;
}
.pad4{
    padding: 1px;
}
.buttonClass:hover {
    color: blue;
    background-color: red;
}

.wid50>div>a:hover {
    color: orange;
}