*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mat-card{
    margin: 10px;
    background-color: #f5f5f5;
    display: flex;
}
.mat-cardstyle{
    margin: 10px;
    padding: 10px; 
    border: 1px solid rgb(90, 78, 78);
    border-radius: 15px;
    height: auto; 
    box-shadow: 0 0 5px rgb(95, 80, 80);
}
h1{
    text-align: center;
}